<main>
  <article>

    <!--
      - #SERVICE
    -->

    <section class="section service has-bg-image" aria-labelledby="service-label"
      style="background-image: url('assets/images/service-bg.png')">
      <div class="container">

        <h2 class="section-title headline-md text-center" id="service-label">Services Offered</h2>

        <ul class="service-list">

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(177, 39%, 72%)">

              <div class="card-media">
                <ion-icon name="phone-portrait-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Java Development</h3>

                <p class="body-sm">
                  Harness the power of Java to create robust and scalable applications for your business.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(41, 99%, 64%)">

              <div class="card-media">
                <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">SpringBoot Applications</h3>

                <p class="body-sm">
                  Develop efficient and enterprise-grade applications using the SpringBoot framework.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(19, 97%, 85%)">

              <div class="card-media">
                <ion-icon name="stats-chart-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Angular Web Development</h3>

                <p class="body-sm">
                  Create dynamic and responsive web applications with Angular, tailored to your business needs.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(221, 100%, 79%)">

              <div class="card-media">
                <ion-icon name="shapes-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">MySQL Database</h3>

                <p class="body-sm">
                  Design and manage MySQL databases to store and retrieve data efficiently.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(76, 39%, 72%)">

              <div class="card-media">
                <ion-icon name="code-slash-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Python Development</h3>

                <p class="body-sm">
                  Leverage the versatility of Python for software development, data analysis, and automation.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(245, 100%, 90%)">

              <div class="card-media">
                <ion-icon name="globe-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Django Web Development</h3>

                <p class="body-sm">
                  Build scalable and secure web applications using the Django framework and Python.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(19, 97%, 85%)">

              <div class="card-media">
                <ion-icon name="code-slash-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Version Control with Git & GitHub</h3>

                <p class="body-sm">
                  Manage your codebase effectively with Git and collaborate seamlessly using GitHub.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(221, 100%, 79%)">

              <div class="card-media">
                <ion-icon name="shapes-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">AWS Cloud Services</h3>

                <p class="body-sm">
                  Utilize the power of AWS to deploy, manage, and scale your applications in the cloud.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(177, 39%, 72%)">

              <div class="card-media">
                <ion-icon name="phone-portrait-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Front-End Development</h3>

                <p class="body-sm">
                  Craft visually appealing and interactive front-end interfaces using HTML, CSS, and JavaScript.
                </p>
              </div>

            </div>
          </li>

        </ul>

      </div>
    </section>

  </article>
</main>
