<main>
  <article>

    <!--
      - #PORTFOLIO
    -->

    <section class="section portfolio" aria-labelledby="portfolio-label">
      <div class="container">

        <h2 class="section-title headline-md text-center" id="portfolio-label">Latest Projects</h2>

        <ul class="portfolio-list">

          <li>
            <div class="portfolio-card">

              <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                <img src="./assets/images/portfolio-1.png" width="800" height="540" loading="lazy"
                  alt="Website Design for Marketing Agency Startup" class="img-cover">

                <a href="https://github.com/Oeyshik/SMV-Chess-Club-Website" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                  <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                </a>
              </div>

              <div class="card-content">

                <span class="chip label-md">Web Design</span>

                <h3 class="title-md">Website Design for Chess Club</h3>

                <p class="card-text">
                  This app is developed utilizing Html, Css and JavaScript.
                  <br>I design and develop services for customers of all sizes, specializing in creating stylish, modern
                  websites, web services and online stores.
                </p>

                <a href="https://github.com/Oeyshik/SMV-Chess-Club-Website" class="btn btn-primary">View Project</a>

              </div>

            </div>
          </li>

          <li>
            <div class="portfolio-card">

              <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                <img src="./assets/images/portfolio-2.png" width="800" height="540" loading="lazy"
                  alt="Website Design for Marketing Agency Startup" class="img-cover">

                <a href="https://github.com/Oeyshik/Django-CRM" class="btn-icon" aria-label="More about Website Design for Chess Club">
                  <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                </a>
              </div>

              <div class="card-content">

                <span class="chip label-md">Web Design</span>

                <h3 class="title-md">Customer Relationship Management App</h3>

                <p class="card-text">
                  This app is developed utilizing Python, Django, and MySQL.
                  <br>The application efficiently manages and enhances the ability to Register, Log In, Log Out, Add Records, View Records, Update Records and Delete Records to boost overall customer satisfaction and business growth.
                </p>

                <a href="https://github.com/Oeyshik/Django-CRM" class="btn btn-primary">View Project</a>

              </div>

            </div>
          </li>

          <li>
            <div class="portfolio-card">

              <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                <img src="./assets/images/portfolio-3.png" width="800" height="540" loading="lazy"
                  alt="Website Design for Marketing Agency Startup" class="img-cover">

                <a href="https://github.com/Oeyshik/Kaiburr-Task4" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                  <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                </a>
              </div>

              <div class="card-content">

                <span class="chip label-md">Web Design</span>

                <h3 class="title-md">Server Management App</h3>

                <p class="card-text">
                  This app is developed utilizing SpringBoot REST API, Angular, MongoDB.
                  <br>This project is the frontend part of the task given by KAIBURR, created using Angular. It complements the REST API developed using Spring Boot by providing a user-friendly web interface to interact with the server data.
                </p>

                <a href="https://github.com/Oeyshik/Kaiburr-Task4" class="btn btn-primary">View Project</a>

              </div>

            </div>
          </li>

          <li>
            <div class="portfolio-card">

              <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                <img src="./assets/images/portfolio-4.png" width="800" height="540" loading="lazy"
                  alt="Website Design for Marketing Agency Startup" class="img-cover">

                <a href="https://github.com/Oeyshik/Algorithms-Explorer" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                  <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                </a>
              </div>

              <div class="card-content">

                <span class="chip label-md">Chrome Extension</span>

                <h3 class="title-md">Algorithms Explorer</h3>

                <p class="card-text">
                  Algorithms Explorer is a Google Chrome extension that provides an interactive way to learn about algorithm time complexities and space complexities.
                  <br>Explore a curated list of algorithms used in computer science and software development, and gain insights into their efficiency.
                </p>

                <a href="https://github.com/Oeyshik/Algorithms-Explorer" class="btn btn-primary">View Project</a>

              </div>

            </div>
          </li>

        </ul>

      </div>
    </section>

  </article>
</main>
